In [1]:
import pandas as pd

# filename and sheet name in Excel-file
filename = 'Trendanalyse_allgemein/data-files/DWD_03987_Potsdam.date 1801-01-01T00 00 00.000Z.xlsx'
sheetname = 'Data'

# read Excel file
df = pd.read_excel(filename, sheetname, parse_dates = ['_iterator.date'])
df.head()

,_iterator.date,air_pressure,cloudiness,dataObjId,dataObjName,et0,humidity,max_temp,mean_temp,min_temp,name,precipitation,Rs,sunshine_duration,vapour_pressure,windspeed
0,1893-01-01,1006.219355,5.341935,"_id:ObjectId(""53c6b30845900e364c000013"")",DWD_03987_Potsdam,NaN,86.677419,6.5,-8.193548,-25.7,189301,27.7,NaN,78.7,3.180645,NaN
1,1893-02-01,998.042857,6.528571,"_id:ObjectId(""53c6b30845900e364c000013"")",DWD_03987_Potsdam,NaN,83.928571,14.3,1.814286,-13.2,189302,79.6,NaN,55.0,6.057143,NaN
2,1893-03-01,1006.483871,5.193548,"_id:ObjectId(""53c6b30845900e364c000013"")",DWD_03987_Potsdam,NaN,71.387097,18.2,4.512903,-4.7,189303,26.2,NaN,135.0,5.964516,NaN
3,1893-04-01,1010.136667,3.026667,"_id:ObjectId(""53c6b30845900e364c000013"")",DWD_03987_Potsdam,NaN,53.900000,22.2,8.536667,-3.5,189304,1.0,NaN,258.9,5.696667,NaN
4,1893-05-01,1005.954839,4.864516,"_id:ObjectId(""53c6b30845900e364c000013"")",DWD_03987_Potsdam,NaN,63.193548,30.4,12.683871,1.6,189305,17.0,NaN,232.8,9.135484,NaN

In [ ]:
df.info()